{
  "plugins": ["sonarjs", "css-modules", "html", "write-good-comments"],
  "extends": ["airbnb-base", "plugin:n/recommended", "plugin:sonarjs/recommended-legacy", "plugin:unicorn/recommended",    "plugin:depend/recommended",    "plugin:css-modules/recommended"],

// files are handled by loadContent()

  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "env": {
    "es2022": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "handle-callback-err": "error",
    "n/exports-style": ["error", "module.exports"],
			"unicorn/better-regex": "warn",
      "write-good-comments/write-good-comments": ["warn",
      {"whitelist": ["validate"]}]
  }
}
